body {
  background: radial-gradient(
    907px at 3.4% 19.8%,
    rgb(255, 243, 122) 0%,
    rgb(255, 102, 145) 97.4%
  );
}

.container {
  margin: 20px;
}

.pages-link {
  text-align: center;
  display: block;
}

.pages-link a {
  margin: 0 20px;
  color: rgb(187, 37, 80);
}

.mailto {
  color: rgb(201, 33, 11);
}

h1,
p {
  text-align: center;
}

img {
  max-width: 35%;
  display: block;
  text-align: center;
  margin: 30px auto;
  border-radius: 10px;
}
