body {
  background: radial-gradient(
    907px at 3.4% 19.8%,
    rgb(255, 243, 122) 0%,
    rgb(255, 102, 145) 97.4%
  );
}

.container {
  margin: 20px;
}

.pages-link {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

h1,
p {
  text-align: center;
}

img {
  max-width: 35%;
  display: flex;
  justify-content: center;
  height: auto;
  text-align: center;
  margin: 10px auto;
  border-radius: 10px;
}
